<section class="admin-products-index">
  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="well">
   <p>Number of products : <%= @all_products %> </p>
   <p>Number of categories : <%= @all_categories %> </p>
  </div>

</section>